<script type="text/javascript" src="{{url_for('static',filename='js/news.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/news.css')}}">
<div>
    
    <div class="card" style="background-image: url('https://img.freepik.com/free-photo/old-wooden-texture-background-vintage_55716-1138.jpg?size=626&ext=jpg'); 
     background-repeat: no-repeat; background-size: cover;border: 5px solid white ;">
     <h1 style="text-align: center; ">NEWS</h1>
    <div>
      <button  class="rom" onclick="myFunction()">Economy</button>
      <p id="demo" class="foo"></p>
    </div>

    <div>
      <button class="rom"  onclick="myEnviron()">Environment</button>
      <p id ="foo" class="foo"></p>
    </div>
    
    <div> 
      <button class="rom" onclick="myPoliti()">Political</button>
      <p id ="fom" class="foo"></p>
    </div>

    <div>
      <button class="rom" onclick="myIndus()">Industry</button>
      <p id ="dim" class="foo"></p>
    </div>

    <div>
      <button  class="rom" onclick="mySceince()">Science Technology</button>
      <p id="c" class="foo"></p>
    </div>

    <div>
      <button  class="rom" onclick="myFilm()">Filmy Focus</button>
      <p id="chate" class="foo"></p> 
    </div>

    <div>
       <button class="rom sport" onclick="mySport()">Sport</button>
       <p id="hel" class="foo"></p>
    </div>

    <div>
      <button class="rom" onclick="myInter()">International</button>
      <p id="help" class="foo"></p>
    </div>
    <br>
    <hr>
</div>
